
<div class="jumbotron">
  <h1>Welcome to EmbedTree</h1>
  <p>This is a simple service for curating and sharing great content - <br/>from publishers like <b>YouTube</b>, <b>Vimeo</b>, <b>Mixcloud</b>, <b>SoundCloud</b> and <b>TED</b>.<br/>  Signup for free to begin sharing, curating and discovering...</p>
  <p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>">Sign Up</a></p>

  <h6>Want to get in touch with the team? Contact us via <a href="mailto:embedtree@gmail.com">embedtree(AT)gmail.com</h6>
</div>


<style type="text/css">
	body {
		background-image: url('http://res.cloudinary.com/dqiy3fupl/image/upload/v1441919864/042_zyqjg3_qti2z0.jpg');
	}
</style>