<h3>User</h3>
<p>Name: <%= link_to(@user.name || @user.name, vanity_profile_path(@user.profile.slug)) %></p>
<p>Email: <%= @user.email || @user.email %></p>


<% @posts.each do |post| %>
	<h3><%= post.title %>
<% end %>