<% unless user_signed_in? %>
<div class="jumbotron">
  <span><%= image_tag("pent.png", class: "pull-right img-responsive", width: "300px") %></span>
  <h1>Welcome to EmbedTree</h1>
  <p>A simple service for curating and sharing great content, <br/>from publishers like <b>YouTube</b>, <b>Vimeo</b>, <b>Mixcloud</b>, <b>SoundCloud</b> and <b>TED</b>.<br/>  Signup for free to begin sharing, curating and discovering...</p>

  <p><a class="btn btn-primary btn-lg" href="<%= new_user_registration_path %>" >Sign Up Today!</a></p>

  <h6>Want to get in touch with the team? Contact us via <a href="mailto:embedtree@gmail.com">embedtree(AT)gmail.com</a></h6>
</div>

<% else %>
<h1 class="text-center">EmbedTree
<br/>
<small>Curated Content</small>
</h1>
<% end %>

<div class="col-md-12">

  <hr/>

  <div class="col-md-10 col-md-offset-1">

<div class="pull-right clearfix" style="margin-right:50px;">

</div>

    <ul class="nav nav-pills">
  <li class="active"><a href="/" ><i class="glyphicon glyphicon-eye-open" ></i> Popular</a></li>
  <li><a href="/latest" ><i class="glyphicon glyphicon-cloud-upload" ></i> Latest</a></li>
  <li class=""><a href="/featured" ><i class="glyphicon glyphicon-star" ></i> Featured</a></li>
</ul>
<br/>
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
      <%= render 'shared/posts' %>

    </div>
    <br>
    <div class="hidden">
      <%= paginate @posts %>
    </div>
</div>

