
<div class="col-md-12">
<h1 class="text-center">EmbedTree</h1>
  <hr/>
  <div class="col-md-10 col-md-offset-1">
    <% @posts.each do |post| %>
      <div class="col-md-4">  
        <div id="embed" class="embed-responsive embed-responsive-16by9">
          <%= raw(post.embed_code) %>
        </div>  
        <h3>
          <%= link_to truncate(post.title, length: 12), post %><br/>
          <small>
          via <%= link_to post.user.profile.display_name || post.user.id, vanity_profile_path(:id => post.user.profile) %>
          </small>
        </h3>
        
        
    </div>
    <% end %>
</div>
<br>
