
<div class="col-md-12">
<h1 class="text-center">EmbedTree
<br/>
<small>Content Curation</small>
</h1>





  <hr/>

  <div class="col-md-10 col-md-offset-1">

<div class="pull-right clearfix" style="margin-right:50px;">
<a class="twitter-follow-button"
  href="https://twitter.com/embedtree"
  data-size="large" data-show-count="false" ></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</div>

    <ul class="nav nav-pills">
  <li class="active"><a href="/" >Popular</a></li>
  <li><a href="/latest" >Latest</a></li>
</ul>
<br/>
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
      <%= render 'shared/posts' %>

    </div>
    <br>
    <div class="hidden">
      <%= paginate @posts %>
    </div>
</div>

