
<div class="col-md-12">
<h1 class="text-center">On <%= link_to @provider, @link, :target => "_blank" %></h1>
  <hr/>
  <div class="col-md-10 col-md-offset-1">
  <div id="masonry-container" class="transitions-enabled infinite-scroll clearfix">
     <%= render 'shared/posts' %>
    </div>
    <br>
    <%= paginate @posts %>
</div>

